html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin-bottom: 60px; Margin bottom by footer height */
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: #ffffff;
  
}

.FlowerFont {
	font-family: 'Indie Flower', cursive;
}


.text-mute {
   color: #777;
}

.title-space {
	margin-bottom: 40px;
}

.title-line {
    text-decoration: none;
    border-bottom: 5px solid black;
}​


hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #efefef; /* old IE */
    background-color: #efefef; /* Modern Browsers */
}




/* Navigation */
.navbar {
	background-color: #efefef;
	-webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.73);
	-moz-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.73);
	box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.73);
}

.navbar-brand {
	color: black;
	text-decoration: none;
}



/* Header */
header {
	padding-top: 160px;
	padding-bottom: 60px;
}



#landing-row2 {
	margin-top: 10px;
}

#landing-row3 {
	margin-top: 40px;
}

#landing-row4 {
	margin-top: 200px;
}


 /* About */
 #about {
	 padding-top: 80px;
	 padding-bottom: 170px; 
 }
 
 
 /* Portfolio */
 #portfolio {
	padding-top: 80px; 	
	padding-bottom: 220px;
 }
 
 .frame {
    background-color: #f2f2f2;
    width: 250px;
	height: 250px;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}

img {
    max-width:800px;
    max-height:800px;
}
 
.img-spacing {
    margin-top: 40px;
}


/* Contact */
#contact {
	padding-top: 80px; 	
	padding-bottom: 240px;
	margin-bottom: 40px;
 }
 
 #contact-info {
	 margin-top: 40px;
 }
 
 
/* Footer */
 footer {
    display: flex;
    padding: 10px 5px;
    background-color: #efefef;
    color: black;
}






